@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto+Mono:wght@500&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Fjalla One', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
button {
    border: 1px solid #ccc;
    background-color: rgb(16, 160, 250);
    color: rgb(201, 254, 54);
    font-size: 24px;
    border-radius: 50px;
    padding: 1rem 2rem;
}

.bg {
    background: none;
    position: absolute;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(0px);
}

.loading-text {
    font-size: 50px;
    color: #fff;
}
